.landing-page{
    background: -prefix-linear-gradient(top, $primario, $blanco)!important;
    background: linear-gradient(to bottom, $primario, $blanco)!important;
    padding-top: 1.5rem;
    padding-bottom: 30%!important;
    .servicios, .procesos{
        
        .servicio, .proceso{
            background-color: $secundario;
            border-radius: 10px;
            width: 250px;
            max-height: 250px;
            margin: 0 auto;
            margin-bottom: 1rem!important;
            cursor: pointer;
            position: relative;
            .contenedor-servicio, .contenedor-proceso{
                width: 85%;
                height: 100%;
                display: flex;
                flex-direction: column;
                margin: 0 auto;
                padding: 1rem 0!important;
            }
            h3{
                color: $blanco;
                font-weight: $regular;
                margin-top: .5rem;
                font-size: 20px;
            }
            .mini-info, .mini-proceso{
                color: $blanco;
                font-size: 15px;
                font-weight: $delgada;
                margin-top: .5rem;
            }
            .contenedor-proceso{
                h3{
                    text-transform: capitalize;
                }
            }
            
        }
        .mas-info{
            background-color: $terciario;
            border-radius: 10px;
            width: 100%;
            height: fit-content;
            padding: 1rem 0px;
            margin-bottom: 1rem;
            .contenedor-mas{
                width: 85%;
                height: 100%;
                display: flex;
                flex-direction: column;
                margin: 0 auto;
            }
            .icono-info{
                width: 50%;
                height: 50%;
                margin: 0 auto;
                svg{
                    width: 60%;
                    height: 60%;
                }
            }
            .header-mas{
                color: $blanco;
                text-transform: uppercase;
                font-size: 15px;
                font-weight: $regular;
            }
            .informacion{
                color: $blanco;
                font-weight: $delgada;
                font-size: 12px;
                text-align: justify;
            }
            .boton-mas{
                .boton{
                    @include boton($extra);
                    padding-left: 30%;
                    padding-right: 30%;
                }
            }
            .boton-leer{
                .boton-not{
                    @include boton($blanco);
                    background-color: transparent!important;
                    border: 2px solid $blanco;
                    padding-left: 30%;
                    padding-right: 30%;
                }
            }
            .opciones-mas{
                display: flex;
                flex-direction: column;
                height: 150px;
                justify-content: space-around;
                
            }

        }
        
    }
    .planes{
        .plan{
            background-color: $secundario;
            border-radius: 10px;
            width: 100%;
            padding: 1rem 0;
            margin-bottom: 1rem;
            cursor: pointer;
            .contenedor-plan{
                width: 90%;
                padding: 1rem 0xp!important;
                margin: 0 auto;
            }
            .plan-item{
                list-style: none;
                display: inline-flex;
                align-items: baseline;
                color: $blanco;
                font-size: 15px;
                font-weight: $delgada;
                margin-bottom: .5rem;
                &:last-of-type{
                    margin-bottom: 0px!important;
                }
            }
            h3{
                font-weight: $bold!important;
                text-transform: capitalize!important;
                font-size: 25px!important;
                color: $blanco;
                letter-spacing: 1.5px!important;
            }
            .lista-plan{
                display: flex;
                flex-flow: row wrap;
                overflow: hidden;
                justify-content: space-around;
                padding: 0px;
                margin-bottom: 0px!important;

            }
        }
    }
    .elegirnos{
        .testimoniales{

            .gota{
                display: none;
                background-color: $secundario!important;
                border-radius: 50% 0% 50% 50%!important;
                min-width: 125px;
                width: 20%;
                min-height: 125px;
                height: 20%;
                position: relative;
                svg{
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 70%;
                    height: 70%;
                }
            }
            .contenido-testimonio{
                background-color: $blanco;
                border-radius: 10px;
                .contenedor-contenido-test{
                    padding: 1rem;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-between;
    
                }
                .comillas{
                    width: 15%!important;
                    height: 15%!important;
                }
                .comilla-svg{
                    width: 100%!important;
                    height: 100%!important;
                    
                }
                .entrada{
                    font-size: 15px;
                    font-weight: $delgada;
                    text-align: justify;
                    width: 80%;
                    margin-top: 8%!important;
                }
                .texto{
                    margin-bottom: .75rem;
                }
                .nombre{
                    text-transform: capitalize;
                    font-weight: $bold;
                    margin-bottom: .75rem;
                }
            }
            
        }
    }
    .contactanos{
        .contacto{
            display: flex;
            flex-direction: column;
        }
        .sociales{
            h3{
                font-weight: $bold;
                font-size: 15px!important;

            }
            .texto-sociales{
                margin: 0 .5rem;
                text-align: justify;
                font-size: 15px;
            }
            .redes{
                margin: 1rem auto;
            }
            .red{
                display: flex;
                flex-direction: row;
                margin-left: 1rem;
                margin-bottom: .75rem;
            }
            .bi{
                margin-right: 1rem!important;
            }
        }
        .formulario{
            display: flex;
            flex-direction: column;
            input, textarea{
                outline: none;
                border-radius: 10px!important;
                width: 100%!important;
                margin-bottom: 1rem;
                border: 1px solid rgba($color: $negro, $alpha: .1);
                padding-top: .5rem;
                padding-bottom: .5rem;
                box-shadow: inset 0px 2px 7px rgba($color: $secundario, $alpha: .15);
                &::placeholder{
                    padding-left: 1rem!important;
                    color: $primario!important;
                }
                &:focus{
                    border: 1px solid rgba($color: $secundario, $alpha: .35)!important;
                }
            }
            .boton{
                @include boton($secundario);
                width: 100%!important;
                padding-left: calc(50% - 29px);
                padding-right: calc(50% - 29px);
            }
            
        }
    }

}

//*** SERVICIO EFECTOS HOVERS EN GENERAL ***//
.servicio:hover, .proceso:hover{
    background-color: $terciario!important;
    box-shadow: 1px 5px 15px rgba($color: $secundario, $alpha: .25);
    transition: all .5s ease;
}
.servicio-activo{
    background-color: $terciario!important;
    box-shadow: 1px 5px 15px rgba($color: $secundario, $alpha: .25);

}

//**  ANIMACION SERVICIOS ANIMATE.CSS **//
.animate__animated.animate__zoomIn {
    --animate-duration: 1s;
}

//*** PLANES EFECTOS HOVERS EN GENERAL ***//
.plan:hover{
    background-color: $blanco!important;
    .plan-item{
        color: $primario!important;
    }
    h3{
        color: $primario!important;
    }
    box-shadow: 1px 5px 15px rgba($color: $primario, $alpha: .25);
    transition: all .4s ease-in-out;

}

//*** BREACKPOINTS ***//
@media (min-width: 576px) {
    .landing-page{
        //*** SCSS MAS INFORMACION SERVICIOS ***//
        .contenedor-mas{
            flex-direction: row!important;
            align-items: center!important;
            margin-left: 0px!important;
            width: 90%!important;
            .icono-info{
                width: 40%!important;
                height: 40%!important;
            }

            .mas{
                width: 60%;
                text-align: start!important;
                .boton, .boton-not{
                    font-size: 15px!important;
                    padding-left: 25%!important;
                    padding-right: 25%!important;
                }
                .header-mas{
                    font-size: 20px!important;
                    margin-bottom: 1rem!important;
                }
            }
            .opciones-mas{
                height: 75px!important;
                flex-direction: row!important;
                justify-content: flex-start!important;
                align-items: center!important;
            }
            .boton-mas{
                width: 40%!important;
                margin-right: 5%!important;
            }
            .boton-leer{
                width: 40%!important;
            }
            
        }
        
        .elegirnos{
            .testimonio{
                display: flex;
                flex-direction: row;
                width: 100%!important;
                justify-content: space-between;
            }
            .gota{
                display: block!important;
            }
            .contenido-testimonio{
                width: 60%!important;
            }
        }
    }
}

@media (min-width: 768px) {
    .landing-page{
        .cajas{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr fit-content 1fr fit-content;
            grid-template-areas: 
            "design desarrollo"
            "info info"
            "cms seo"
            "info2 info2";
            .design{
                grid-area: design;
            }
            .desarrollo{
                grid-area: desarrollo;
            }
            .cms{
                grid-area: cms;
            }
            .seo{
                grid-area: seo;
            }
            #design, #desarrollo{
                grid-area: info;
            }
            #cms, #seo{
                grid-area: info2;
            }
            .mas-info{
                width: 87%!important;
                margin: 0rem auto 1rem!important;
            }
            .mas{
                width: 70%!important;
            }
            .contenedor-mas{
                width: 92%!important;
            }
        }
        .barras{
            .contenedor-plan{
                display: flex;
                flex-direction: row;
                align-items: center!important;
                h3{
                    width: 40%!important;
                }
                .plan-item{
                    width: 30%!important;
                    margin-right: 0!important;
                }
            }
        }
        .elegirnos{
            .gota{
                display: block!important;
                min-width: 200px!important;
                min-height: 200px!important;
            }
            .contenido-testimonio{
                width: 75%!important;
            }
        }
        .contacto{
            flex-direction: row!important;
            justify-content: space-between;
            .sociales{
                width: 45%!important;
                text-align: start!important;
                .red, .texto-sociales{
                    margin-left: 0px!important;
                }
                

            }
            .formulario{
                width: 45%!important;
            }
        }

    }
}
@media (min-width: 992px) {
    .landing-page{
        padding-bottom: 15%!important;
        .barras{
            .contenedor-plan{
                width: 100%!important;

            }
        }
        .contacto{
            justify-content: space-around;
        }

    }
}

@media (min-width: 1200px) {
    .landing-page{
        .cajas{
            width: 100%!important;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr auto;
            grid-template-areas: 
            "design desarrollo cms seo"
            "info info info info"!important;
            justify-content: space-between!important;
            .design{
                grid-area: design;
            }
            .desarrollo{
                grid-area: desarrollo;
            }
            .cms{
                grid-area: cms;
            }
            .seo{
                grid-area: seo;
            }
            #design, #desarrollo, #cms, #seo{
                grid-area: info;
                margin-top: 1rem!important;
            }
            .mas-info{
                max-width: 110rem!important;
                width: 97.5%!important;
                margin: 0rem auto 1rem!important;
                height: 325px!important;
            }
            .icono-info{
                width: auto!important;
                height: auto!important;
                svg{
                    width: 100%!important;
                    height: 100%!important;
                }
            }
            .mas{
                width: 70%!important;
                text-align: start!important;
                .boton, .boton-not{
                    font-size: 18px!important;
                    padding-left: 25%!important;
                    padding-right: 25%!important;
                }
                .header-mas{
                    font-size: 25px!important;
                    margin-bottom: 1rem!important;
                }
                .informacion{
                    font-size: 17px!important;
                }
            }
            .contenedor-mas{
                width: 92%!important;
            }
        }
        .barras{
            .contenedor-plan{
                h3{
                    font-size: 40px!important;
                }
                .plan-item{
                   width: 24%!important;
                }
            }
        }
        .elegirnos{
            .gota{
                min-width: 220px!important;
                min-height: 220px!important;
            }
            .entrada{
                font-size: 18px!important;
            }
            
        }
        .contacto{
            margin: 0 auto;
            width: 75%;
        }


    }
}
