body{
   overflow-x: hidden!important;
}
h2{
    text-transform: uppercase;
    font-weight: $bold;
}
a{
    text-decoration: none;
}
p{
    margin: 0px;
}
//*** CONTENEDORES ***//
.contenedor{
    width: 90%!important;
    margin: 0 auto;
}

//***  SECCIONES ***//
.seccion{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2rem!important;
    padding-bottom: 3rem;
    text-align: center;
    h2{
        color: $blanco;
        margin-bottom: 2rem;
        
    }
}
