/** Media Queries **/
@mixin telefono {
    @media (min-width: #{$telefono}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}
  
@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}
@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}


@mixin boton($color){
    width: 250px!important;
    height: 45px!important;
    padding: .5rem 1rem;
    border-radius: 10px;
    background-color: $color!important;
    align-items: center;
    color: $blanco;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: $delgada;   
}
